services:
  postgres:
    image: postgres:15
    container_name: postgres-notification
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - app-network

  app:
    build:
      context: .
      target: local
    container_name: notification_service
    depends_on:
      - postgres
    ports:
      - "8084:8084"
    networks:
      - app-network
volumes:
  postgres_data:
networks:
  app-network:
    external: true
    name: eventure-network
